<!DOCTYPE html>
<html>
  <head>
    <title>Demo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "application" %>
    <%# <%= auto_discovery_link_tag (:rss, {action: "feed"},{title: "RSS Feed"}) %>
    <%# <%= image_tag "header.png"%> 
    <%# <%= video_tag "movie.ogg" %> 
    <%# <%= audio_tag "music.mp3" %> 

  </head>

  <body>
    <%= yield %>
  </body>
</html>
